<%= @docs.each do |doc| %>
    <h3><%= link_to doc.title, doc %></h3>
    <p><%= truncate(doc.content, length:50) %></p>
    <p><small><%= time_ago_in_words(doc.created_at) %></small></p>
<% end %>

<%= link_to 'Create document', new_doc_path %>