<h1><%= @doc.title %></h1>
<p><%= @doc.content %></p>

<%= link_to 'Documents', docs_path %>
<%= link_to 'Edit it', edit_doc_path(@doc) %>
<%= link_to 'Delete', docs_path(@doc), method: :delete, data: { confirm: "Are you sure you want to delete this doc?" } %>